<div class="pad">
<h1>Host an Event</h1>

<h5>Want to host an event through LearnHow?
  <br>
  <br>
  Email us at <em>learnhow@info.com</em> and tell us:
  <br>
  <br>
  (1) the location, date and time (must be at least 2 weeks out, try to pick an early evening or afternoon time to cater to more schedules, must be under 4 hours and in the Portland area)
  <br>
  (2) the idea (i.e. I'm a mechanic that would like to teach people how to change their own oil or change a flat tire)
  <br>
  (3) the cost per ticket (most vary from 10-50 per ticket in price depending on materials and if participants get to take something home i.e. the pottery dish they made with your supplied materials)
  <br>
  (4) the max number of people that can attend (however many you can comfortably fit and teach something to)
  <br>
  (5) a phone number where we can reach you to discuss any additional information
  <br>
  <br>
  And voila! We'll get back to you within 24 hours. LearnHow only takes 15% of ticketing sales and 5% of that goes to a different charity each month. The rest goes to the host (and the host must provide all materials). Anything you feel people could enjoy learning more about, just shoot us an email and we can make it happen!
<br>
<br>
<h3>Our charity for December:
<br>
Oregon Food Bank
</h3>
</div>
