/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background: #43967a;
  color: white;
  padding: 10px;
}

body {
  font-family: 'Abel', sans-serif;
}

ul {
  list-style: none;
}

a {
  font-size: 20px;
}
.navPhoto {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  padding-bottom: 8px;
}

.mainpagePhoto {
  width: 800px;
  height: 500px;
  margin: auto;
  display: block;
  border-radius: 20px;
}

.center {
  text-align: center;
}

nav {
text-align: center;
margin: 20px 0 0 ;
padding: 10px 0;
}

nav ul{
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

nav li {
   display: inline-block;
   padding: 5px 5px;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 20px;
}

.container {
  padding: 25px;
}

.btn-basic {
  background-color: #43967a;
  color: white;
}

.pad {
  padding: 20px;
}

.jumbotron {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 17px;
  border-radius: 0px;
  text-align: center;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}

.test1{
  box-shadow: 5px 5px #2196f3, -1em 0 .5em 1px #d4d6cd;
  text-align: center;
}

.test2{
  box-shadow: 5px 5px #2196f3, -1em 0 .5em 1px #d4d6cd;
  text-align: center;
}

.test3{
  box-shadow: 5px 5px #2196f3, -1em 0 .5em 1px #d4d6cd;
  ext-align: center;
}

.padMore {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 60px;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

.about {
  display:none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.buttonCenter {
  color: white;
}
